kütüphaneler

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

veri yükleme

In [3]:
veriler = pd.read_csv("../veri/veriler.csv")
veriler.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

veri önişleme

In [7]:
boy = veriler[["boy"]]
boy.head()

   boy
0  130
1  125
2  135
3  133
4  129

In [15]:
kilo = veriler[["kilo"]]
kilo.head()

   kilo
0    30
1    36
2    34
3    30
4    38

In [16]:
type(kilo)

pandas.core.frame.DataFrame

In [21]:
boy_kilo = veriler[["boy","kilo"]]
boy_kilo.tail()

    boy  kilo
17  187    80
18  183    88
19  159    40
20  164    66
21  166    56